@import url('https://fonts.googleapis.com/css?family=Mukta');
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-family: Mukta;
        vertical-align: baseline;
        background: transparent;
    }
.logpage{
  background-color: black;
}
.logpage body{
  display: grid;
}
.login{
  margin-top: 270px;
  justify-self: center;
  display: grid;
  height: 200px;
  width: 300px;
  border-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: lightblue;
}
.login input{
  margin-top: 20px;
  height: 30px;
  width: 215px;
  justify-self: center;
  border-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: lightblue;
}
.login button{
  height: 30px;
  width: 115px;
  justify-self: center;
  text-align: center;
  border-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: lightblue;
  transition: all 0.3s ease;
}
.login button:hover{
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
.intro{
  background-color: #e0ebe8;
  width: 100%;
  height: 745px;
  display: grid;
}
.name{
  align-self: center;
  justify-self: center;
}
.name h1{
  font-size: 30px;
}
.name h4{
  font-size: 20px;
  color: #92c597;
  padding-left: 60px;
}
.keys{
  background-color: white;
  width: 100%;
  display: inline;
}
.keys h1{
  text-align: center;
  font-size: 30px;
  color: #2c9595;
}
.firstcolumn{
  margin-top: 100px;
  padding-left: 200px;
  float: left;
}
.firstcolumn img{
  border-width: 5px;
  border-style: solid;
  border-color: #add8e6;
  margin-bottom: -5px;
}
.firstcolumn p{
  border-width: 3px;
  border-style: solid;
  border-color: #add8e6;
  margin-bottom: 100px;
}
.family{
  text-align: center;
}
.love {
  text-align: center;
}
.secondcolumn{
  margin-top: 100px;
  padding-right: 200px;
  float: right;
}
.secondcolumn img{
  border-width: 3px;
  border-style: solid;
  border-color: #add8e6;
  margin-bottom: -5px;
}
.secondcolumn p{
  border-width: 3px;
  border-style: solid;
  border-color: #add8e6;
  margin-bottom: 100px;
}
.money{
  text-align: center;
}
.know{
  text-align: center;
}
.outro{
  background-color: #c8f7c5;
  width: 100%;
  margin-top: 800px;
  height: 350px;
  display: grid;
}
.remember {
  align-self: center;
  justify-self: center;
}
.remember h1{
  font-size: 30px;
}
.remember h4{
  font-size: 20px;
  padding-left: 20px;
}
